[submodule "fpm-recipes"]
	path = fpm-recipes
	url = git@github.com:narkisr/fpm-recipes.git
[submodule "modules/editfile"]
	path = modules/editfile
	url = https://github.com/mstrauss/puppet-editfile.git
